[Unit]
Description=auto-Xorg

[Service]
ExecStart=/bin/bash /usr/local/bin/auto-xorg -l -a
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
