[Unit]
Description=Generates Xorg (video output) for the first or last parsed valid non-VFIO video (VGA) device.

[Service]
ExecStart=/bin/bash /usr/local/bin/auto-xorg
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
