[Unit]
Description=auto-xorg

[Service]
ExecStart=/bin/bash /usr/local/bin/auto-xorg
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
